{% extends 'base.html.twig' %}
{% block title %}
    A/B Testing
{% endblock %}
{% block header %}
    A/B Testing
{% endblock %}
{% block body %}
    <div class="row g-4 py-4 row-cols-1">
        <div class="col d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-header">
                    <h3 class="card-title">Test frequencies</h3>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col" class="text-end">Occurrences</th>
                            <th scope="col" class="text-end">Expected %</th>
                            <th scope="col" class="text-end">Real %</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in distributions %}
                            <tr>
                                <th scope="row">{{ item.designName }}</th>
                                <td class="text-end">{{ item.occurrences }}</td>
                                <td class="text-end">{{ item.splitPercent }}%</td>
                                <td class="text-end">{{ item.frequency }}%</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-muted">
                    <div class="row g-4">
                        <div class="col-6">
                            <a href="{{ path('a_b_testing_detail', {'id': id }) }}" class="w-100 btn btn-secondary">Back</a>
                        </div>
                        <div class="col-6">
                            <a href="" class="w-100 btn btn-primary">Retest</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}